$background: #2e3440;
  $background-50: #3b4252af;
  $background-25: #3b425250;

$foreground: #3b4252;
  $foreground-50: #3b4252af;

$white: #d8dee9;
  $white-50: #d8dee9af;

$red: #bf616a;
  $red-50: #bf616aaf;
  $red-25: #bf616a50;

$green: #a3be8c;
  $green-50: #a3be8caf;
  $green-25: #a3be8c50;

$yellow: #ebcb8b;
$blue: #81a1c1;
$purple: #b48ead;
$cyan: #88c0d0;