$warning-shadow: #515f6b86;
$warning-border: #515f6b;
$warning-inset: #778d9f;
$warning-background: #647685;
  $warning-message-background: #94afc6;
  $warning-message-active: #859cb1;

$close-button-border: #8e3f38;
$close-button-inset: #ea695d;
$close-button-background: #cf5e53;
$close-button-active: #b35047;